.custom-select {
    width: 160px; /* Puedes ajustar el ancho según tus necesidades */
}

@media (max-width: 768px) {
    .table-container {
      overflow-x: auto;
      display: block;
      width: 100%;
    }
    .table {
      width: 100%;
    }
  }

  /* tabs.css */

.tabs {
  display: flex;
  justify-content: start;
}

.tab-button {
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.tab-button:hover {
  background-color: #e9ecef;
}

.active-tab {
  border-color: #007bff;
  background-color: #007bff; /* Fondo de color para pestaña activa */
  color: #fff;
}

.tab-content {
  border: 1px solid #ccc;
  border-top: none;
  /*padding: 20px;*/
  border-radius: 0 0 5px 5px;
}

/* Page.css */

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center; /* Centra todo el contenido de la tabla */
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Asegura que todo el contenido de las celdas esté centrado */
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
  color: black;
}

.table td input, .table td select, .table td .react-datepicker-wrapper {
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .table th, .table td {
    font-size: 14px;
    padding: 6px;
  }

  .table-container {
    padding: 0 10px;
  }

  .table td input, .table td select, .table td .react-datepicker-wrapper {
    width: 100%;
    text-align: center;
  }
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
}

