/* Estilo para el estado "A Tiempo" */
.status-green {
    color: #5cb85c;
    /* Color del texto */
    background-color: #e7f3eb;
    /* Color de fondo */
    padding: 4px 8px;
    /* Espaciado interno */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para el estado "Plazo Vencido" */
.status-red {
    color: #d9534f;
    /* Color del texto */
    background-color: #f9eaea;
    /* Color de fondo */
    padding: 4px 8px;
    /* Espaciado interno */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para el estado "Entregado" */
.status-blue {
    color: #007bff;
    /* Color del texto */
    background-color: rgb(223, 223, 252);
    /* Color de fondo */
    padding: 4px 8px;
    /* Espaciado interno */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilo para los elementos de la tabla */
table {
    border-collapse: collapse;
    /* Fusionar los bordes de las celdas */
    width: 100%;
    /* Ancho de la tabla */
}

td,
th {
    padding: 10px;
    /* Espaciado interno */
}

th {
    background-color: #013a06;
    /* Color de fondo de las celdas de encabezado */
    color: white;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Color de fondo de las filas pares */
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #ffffff;
    /* Color de fondo de las filas impares */
}

/* Estilo para el botón de carga */
.upload-button {
    background-color: #22c55e;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 8px 16px;
    /* Espaciado interno */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s;
    /* Transición suave del color de fondo */
}

.upload-button:hover {
    background-color: #15803d;
    /* Cambiar color de fondo al pasar por encima */
}

.delete-button {
    background-color: #e95252;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 8px 16px;
    /* Espaciado interno */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s;
    /* Transición suave del color de fondo */
}

.delete-button:hover {
    background-color: #f51505;
    /* Cambiar color de fondo al pasar por encima */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.modal-content {
    text-align: center;
}

.link-green {
    cursor: pointer;
    text-decoration: underline;
    color: green;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.table-responsive th,
.table-responsive td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {

    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }

    .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .table-responsive td {
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .table-responsive td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        white-space: nowrap;
        font-weight: bold;
    }

    .table-responsive td:last-child {
        border-bottom: 0;
    }

    .text-center-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}